@model System.Collections.Generic.IEnumerable<tilde.Models.FileModel>

@{
    ViewBag.Title = "ShowFiles";
}

<!DOCTYPE html>

<html>
    <p>Specify a folder you want to upload below</p>

    @using (Html.BeginForm("Upload", "Folder", FormMethod.Post))
    {
        <input type="text" id="upload" name="uploadInput" />          
        <input type="submit" value = "send" />
    }

    <h2>List Of Folders</h2>
    <ul>
    @foreach (var file in Model)
    {
        <li>@file</li>
    }
    </ul>


</html>
